/* first css file */

html {
  background-color: green;
}

@media screen and (max-width: 700rem) {
  a {
    height: 10rem;
  }
}

.myOwnSelector {

}

@font-face{
    font-family:'Linearicons-Free';
}
